*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.root{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background-color: pink;
    justify-content: space-between;
    padding: 0 10px;
}

header button{
    background-color: pink;
    color: white;
    border-radius: 20%;
}

h3{
    color: white;
}
footer{
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: pink;

}
footer a{
    border-right: 1px solid #fff;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

.mywrap{
    text-align: center;
    flex-grow: 1;
    overflow-y: auto; /*在y轴出现滚动条*/
    display: flex;
}

.home{
    width: 100%;
    background-image: url(./image/img1.jpg);
    background-size: 50%;
    background-size: cover;
    background-position: 50% 50%;
}

.home-cover{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    opacity: 0.7;
}
.home-cover div{
    color:white;
}
.home-cover  a{
    color:white;
    display: block;
    background-color: #7dbcea;
    width: 8em;
    line-height: 2.8;
    margin: 0 auto;
    border-radius: 8px;
    color: #fff;
}
.blog-card{
    width: 96%;
    margin: 10px auto;
    border: 1px solid black;
}
.blog-index{
    background-color: pink;
    text-align: center;
    color: #fff;
    line-height: 36px;
}
.blog-desc{
    padding-left: 10px;
    position: relative;
    color: #777;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px,rgba(0,0,0,0.2) 0px 2px 6px;
}
.blog-desc p{
    font-size: 14px;
    opacity:0.8;
}
.blog-desc a{
    display: block;
    color: #fff;
    width: 6em;
    padding: 5px 10px;
    background-color: pink;
    text-decoration: none;
    border-radius: 15%;
    text-align: center;
}
.blog-desc span{
    position: absolute;
    right: 10px;
    bottom: 15px;
}
